<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>AngularJS Routing</title>
		<link rel="stylesheet" href="css/app.css"/>
		<script type="text/ng-template" id="view1.tpl">
		<p>
		First name: <input type="text" ng-model="firstname"/> <br/>
		Last name: <input type="text" ng-model="lastname"/> <br/>
		<button ng-click="loadView2()">Load View2</button>
		</p>
		</script>
		<script type="text/ng-template" id="view2.tpl">
			<p>
			From View2.
			<ul>
			<li>First name: {{firstname}}</li>
			<li>Last name: {{lastname}}</li>
			</ul>
			</p>
		</script>
	</head>
	<body>
		<ul class="menu">
			<li><a ui-sref="view1">view1</a></li>
			<li><a ui-sref="view2">view2</a></li>
		</ul>
		<div ui-view></div>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-ui-router.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>