<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
	<head>
		<title>AngularJS Form Validation</title>
		<script src="https://code.angularjs.org/1.2.16/angular.js"></script>
		<script type="text/javascript">
			angular.module('myApp', []).controller('UserController', function($scope) {
				$scope.user = {};
				$scope.saveUser = function(){
					if (!$scope.myform.$invalid) {
						console.log('saving user');
					} else {
						console.log('Unable to save. Validation error.');
					}
				}
				
				$scope.items = [
					{
						name: 'field1',
						title: 'Field1',
					},
					{
						name: 'field2',
						title: 'Field2'
					},
					{
						name: 'field3',
						title: 'Field3'
					},
				];
			});

		</script>
		<style>
			.error-message{
				color: red;
			}

			input.ng-dirty.ng-invalid{
				border-color: red;
			}
		</style>
	</head>
	<body ng-controller="UserController">
		<form name="myform" ng-submit="saveUser()" novalidate>
			<!-- creates instance of formController inside a scope
			the form has 3 statuses:
			$pristine - if form was interacted, true if not
			$valid - if all fields of form becomes valid
			$dirty - when user began interacting with form
			$invalid - if at list one field is invalid
   
			this props available for each field
			
			-->
		First Name:
		<input type="text" name="firstname" ng-model="user.firstname" ng-required="true" ng-minlength="2" ng-model-options="{updateOn: 'blur mousedown', debounce: 100}"/>
		<!-- each field has the same states as form debounce - update model with delay -->
		<span class="error-message" ng-show="myform.firstname.$dirty && myform.firstname.$error.required">The First Name is Mandatory</span>		
		<span class="error-message" ng-show="myform.firstname.$dirty && myform.firstname.$error.minlength">The First Name should be minimum 2 characters</span>
			
		<br />
		Last Name:
		<input type="text" name="lastname" ng-model="user.lastname" ng-required="true" ng-minlength="2" />
		<span class="error-message" ng-show="myform.lastname.$dirty && myform.lastname.$error.required">The Last Name is Mandatory</span>
		<span class="error-message" ng-show="myform.lastname.$dirty && myform.lastname.$error.minlength">The Last Name should be minimum 2 characters</span>
		
		<br />
		Phone:
		<input type="text" name="phoneNumber" ng-model="user.phoneNumber" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/"/>
		<span class="error-message" ng-show="myform.phoneNumber.$dirty && myform.phoneNumber.$invalid">The phone number field should be of 10 digits</span>		
		
		<br />
		<div ng-repeat="item in items" ng-form="inner"><!-- use ng-form if we dynamic add items, if we don't use ng-form we cant validate this inputs -->
			<br />
			<label>{{item.title}}<input ng-model="item.name" name="name" ng-required="true" /></label>
			<span class="error-message" ng-show="inner.name.$dirty && inner.name.$invalid">This field is required</span>
		</div>
		
		<input type="submit" value="Save" />		
		</form>
	</body>
</html>
