<div class="row">
	<div class="col-xs-9">
		<table class="table all-posts">
            <tr><td><h3>{{'admin.users' | translate}}</h3></td>
                <td></td>
            </tr>
			<tr ng-repeat="user in users">
				<td>{{user.username}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="admin.userUpdate({id:user.id})">{{'admin.edit' | translate}}</a>
                    <a class="btn btn-danger" ng-click="deleteUser(user)">{{'admin.delete' | translate}}</a>
                </td>				
			</tr>
		</table>
	</div> 
</div>