<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 jumbotron">
		<form action="" ng-submit="register()" id='registrationForm' name='registrationForm' role='form' novalidate>
			<p class="text-success text-center" ng-show='successMessage'>{{'public.registration.success' | translate}}</p>
			<p class="text-danger text-center" ng-show='errorMessage'>{{'public.registration.error' | translate}}</p>
			<div ng-hide="successMessage">
				<div class="form-group" ng-class="{'has-error' : registrationForm.username.$dirty && registrationForm.username.$invalid}">
					<input type="text" class="form-control" ng-required="true" ng-model='user.username' name="username" id="username" placeholder="{{'form.name' | translate}}" />
					<span class="error-message" ng-show="registrationForm.username.$dirty && registrationForm.username.$error.required">{{'form.error.empty' | translate}}</span>
					<span class="error-message" ng-show="registrationForm.username.$dirty && registrationForm.username.$error.serverError">{{registrationForm.username.$error.serverError}}</span>
				</div>
				<div class="form-group" ng-class="{'has-error' : registrationForm.email.$dirty && registrationForm.email.$invalid}">
					<input type="text" server-error ng-required="true" class="form-control" ng-model='user.email' name="email" id="email" placeholder="{{'form.email' | translate}}" />
					<span class="error-message" ng-show="registrationForm.email.$dirty && registrationForm.email.$error.required">{{'form.error.empty' | translate}}</span>
                                        <span class="error-message" ng-show="registrationForm.email.$dirty && registrationForm.email.$error.serverError">{{registrationForm.email.$error.serverError}}</span>
				</div>
				<div class="form-group" ng-class="{'has-error' : registrationForm.plainPassword.$dirty && registrationForm.plainPassword.$invalid}"> 
					<input type="text" ng-required="true" class="form-control" ng-model='user.plainPassword' name="plainPassword" id="plainPassword" placeholder="{{'form.password' | translate}}" />
					<span class="error-message" ng-show="registrationForm.plainPassword.$dirty && registrationForm.plainPassword.$error.required">{{'form.error.empty' | translate}}</span>
                                        <span class="error-message" ng-show="registrationForm.plainPassword.$dirty && registrationForm.plainPassword.$error.serverError">{{registrationForm.plainPassword.$error.serverError}}</span>
				</div>
			
				<input type="submit" ng-disabled="registrationForm.$invalid" value="{{'form.submit' | translate}}" class="btn btn-success center-block" />
			</div>
		</form>
	</div>	
</div>