<div class="row">
    <div class="col-xs-8">
        <table class="table all-posts">
            <tr><td><h3>View all posts</h3></td>
                <td></td>
            </tr>
            <tr class="all-posts-list" ng-repeat="post in posts | orderBy: '-_id'">
                <td>{{post.title}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="admin.postUpdate({id:post.id})">Edit</a>
                    <a class="btn btn-danger" ng-click="deletePost(post)">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
