<div class="container">
	<div class="jumbotron text-center">
		<a class="h1" ui-sref="public.allPosts">{{'layout.main.header' | translate}}</a>
		<p>{{'layout.main.header1' | translate}}</p>
		<p>{{'layout.main.header3' | translate}}</p>
        <div class="row text-center" ng-controller="TranslateController" ng-model="language">
            <div class="btn btn-primary" ng-class="{'active': currentLanguage == 'en'}" ng-click="changeLanguage('en')">English</div>
            <div class="btn btn-success" ng-class="{'active': currentLanguage == 'ru'}" ng-click="changeLanguage('ru')">Русский</div>
        </div>                
	</div>
	<div class="row">
		<div class="col-xs-3">
			<ul class="nav nav-pills nav-stacked on-click-make-active">
				<!--Loads admin.viewAll state, doesn't contain anything right now -->
				<li ui-sref-active="active"><a ui-sref="admin.postViewAll">{{'admin.allposts' | translate}}</a></li>
				<!--Loads admin.postNew state -->
				<li ui-sref-active="active"><a ui-sref="admin.postNew">{{'admin.addpost' | translate}}</a></li>
				<li ui-sref-active="active"><a ui-sref="admin.userViewAll">{{'admin.users' | translate}}</a></li>
			</ul>
		</div>
		<div class="col-xs-9 border-left">
			<div ui-view></div> <!--The nested views are loaded here -->
		</div>
	</div>
	<div class="row footer">
		<div class="col-xs-12 text-center">
			<p>{{'layout.main.footer' | translate}} <app-version/></p>
		</div>
	</div>
</div>
	