<div class="container">
    <br/>
    <div class="jumbotron text-center">
        <a class="h1" ui-sref="public.allPosts">{{'layout.main.header' | translate}}</a>
        <p>{{'layout.main.header1' | translate}}</p>
        <p>{{'layout.main.header2' | translate}}</p>
        <div class="row text-center" ng-controller="TranslateController" ng-model="language">
            <div class="btn btn-primary" ng-class="{'active': currentLanguage == 'en'}" ng-click="changeLanguage('en')">English</div>
            <div class="btn btn-success" ng-class="{'active': currentLanguage == 'ru'}" ng-click="changeLanguage('ru')">Русский</div>
        </div>    
    </div>    
    <div ui-view></div>
    <div class="row footer">
        <div class="col-xs-12 text-center">
            <p>{{'layout.main.footer' | translate}} <app-version/></p>
        </div>
    </div>
</div>
